.home {
  margin-top: 62px;
}

.home-title {
  font-size: 50px;
  margin-bottom: 15px;
}

.home-profession {
  font-size: 45px;
}

.home-description {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.home-paragraph {
  width: 60%;
  font-size: 20px;
  text-align: justify;
  align-self: center;
}

.home-pic-border {
  border: 1px solid #4048b4;
  box-shadow: rgba(64, 72, 180, 1) 0 4px 16px;
  border-radius: 50%;
  height: 165px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.home-pic-container {
  width: 150px;
}

.home-pic-container img {
  width: 100%;
}
