.project-image-container {
  width: 100%;
}

.project-image-container img {
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-button {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.project-button-container {
  width: 30%;
  height: 25px
}

.project-button-container img {
  width: 100%;
  height: 100%
}